edc.participant.id=${PARTICIPANT_ID}
edc.ids.id=${PARTICIPANT_ID}
edc.hostname=${PARTICIPANT_HOSTNAME}
web.http.port=${EDC_CONNECTOR_API_PORT}
web.http.path=/api
web.http.management.port=${EDC_CONNECTOR_MANAGEMENT_PORT}
web.http.management.path=/management
web.http.protocol.port=${EDC_CONNECTOR_PROTOCOL_PORT}
web.http.protocol.path=/protocol
web.http.public.port=${EDC_CONNECTOR_PUBLIC_PORT}
web.http.public.path=/public
web.http.public.url=http://${PARTICIPANT_HOSTNAME}/public
web.http.control.port=${EDC_CONNECTOR_CONTROL_PORT}
web.http.control.path=/control
edc.dsp.callback.address=http://${PARTICIPANT_HOSTNAME}/protocol
edc.receiver.http.endpoint=http://${PARTICIPANT_HOSTNAME}:${EDC_BACKEND_PORT}/pull
edc.dataplane.token.validation.endpoint=http://${PARTICIPANT_HOSTNAME}/control/token
edc.public.key.alias=publickey
edc.transfer.dataplane.token.signer.privatekey.alias=${KEY_ALIAS}
edc.transfer.proxy.token.signer.privatekey.alias=${KEY_ALIAS}
edc.transfer.proxy.token.verifier.publickey.alias=publickey
edc.api.auth.key=${EDC_CONNECTOR_API_KEY_HEADER}
edc.api.auth.key.alias=apikey